.hide {
  visibility: false;
}
.event {
  margin: 10px auto;
  width: 70%;
  background: #fff;
}

.event-header {
  display: flex;
  padding: 5px;
}

.event-info {
  display: block;
  padding: 5px;
}

.event-img-container{
  padding-left: 0px; 
}

.event-img {
  height: 90px;
  width:90px;
}

.event-name {
  display: block;
  font-weight: bolder;
}
.event-start, .event-description-title{
  display: block;
  font-weight: lighter;
}
.event-primary-info{
  width: 100%
}

.event-expand {
  float: right;
  font-size: 20px;
  margin-right: 10px;
}
.event-expand i {
  color: lightgrey
}

@media screen and (max-width: 700px) {
  .event {
      width: 95%;
      margin: 10px;
  }

}